img.banner(src="/img/rewards/BiukyBE01.jpeg")

h3 Vous avez reçu un chèque Cadeau de "Biuky"***.

p Pour en profiter:
ul
	li - Rendez vous sur
		a(href='http://www.Biuky.be')  www.Biuky.be
	li - Effectuez votre commande
	li - Au moment de la transaction, rentrez le code promo suivant
		b  foryou5
	li - Profitez de votre réduction !

p *** Chèque cadeau valable sur la première commande

center
	a.btn.btn-default(href='http://www.Biuky.be', role='button') Visiter le site
