img.banner(src="/img/rewards/LaRedouteBE01.jpeg")

h3 Vous avez reçu un chèque Cadeau de "LaRedoute"***.

p Pour en profiter:
ul
	li - Rendez vous sur
		a(href='http://www.LaRedoute.be')  www.LaRedoute.be
	li - Effectuez votre commande
	li - Au moment de la transaction, rentrez le code promo suivant
		b  2200
	li - Profitez de votre réduction !

p *** Chèque cadeau valable à partir de 29€ d'achat, valide sur votre première commande jusqu'au 31/07/2016. .

center
	a.btn.btn-default(href='http://www.LaRedoute.be', role='button') Visiter le site
