img.banner(src="/img/rewards/OscarSocksALL01.jpeg")

h3 Vous avez reçu un chèque Cadeau de "Oscar Socks"***.

p Pour en profiter:
ul
	li - Rendez vous sur
		a(href='http://www.OscarSocks.com')  www.OscarSocks.com
	li - Effectuez votre commande
	li - Au moment de la transaction, rentrez le code promo suivant
		b  CHARLY10
	li - Profitez de votre réduction de 10€!

p *** Chèque cadeau valable pour tout achat d'une box

center
	a.btn.btn-default(href='http://www.OscarSocks.com', role='button') Visiter le site