img.banner(src="/img/rewards/UberALL01.jpeg")

h3 Vous avez reçu un chèque Cadeau de "Uber"

p Pour en profiter:
ul
	li - Installez l'application
	li - Dans l'espace dédié, rentrez le code promo suivant
		b  ubersaleduck
	li - Profitez de votre réduction !


center
	a.btn.btn-default(href='http://uber.com', role='button') Visiter le site
