img.banner(src="/img/rewards/ZalandoBE01.jpg")

h3 Vous avez reçu un chèque Cadeau de "Zalando"***.

p Pour en profiter:
ul
	li - Rendez vous sur
		a(href='http://www.Zalando.be')  www.Zalando.be
	li - Effectuez votre commande
	li - Au moment de la transaction, rentrez le code promo suivant
		b  YMPPS4MJ2C
	li - Profitez de votre réduction !

p *** Chèque cadeau valable à partir de 50€ d'achat, valide jusqu'au 07/08/2016.

center
	a.btn.btn-default(href='http://www.Zalando.be', role='button') Visiter le site
