extends layout
block vars
	meta(property='og:url', content='')
	meta(property='og:title', content='')
	meta(property='og:description', content='')
	meta(property='og:image', content='')
	link(href='https://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')

block content
			p Yo


