extends ../layout3

block content

	.container

		section.our-story.row
			.col-xs-12
				header.story-heading.section-header
					h2
						| Section
						strong  #{__("press")}
				.row
					.col-xs-12.col-sm-12
						strong.article-sammury
							|  #{__("presTxt")}

						.col-md-6
							ul
								li English Press Kit : 
										a(href="/assets/docs/PressKit-en.pdf") Click here
								li French Press Kit : 
										a(href="/assets/docs/PressKit-fr.pdf") Click here
								li Founders Photo :
									a(href="/assets/img/homepage/foundersPhoto.jpg") Click here

						.col-md-6
							ul
								li Logo Black : 
									a(href="/assets/img/homepage/logos/smile_black.png") Click here
								li Logo White : 
									a(href="/assets/img/homepage/logos/smile_white.png") Click here
								li ScreenShot 1 : 
									a(href="/assets/img/homepage/screenshot1.jpeg") Click here
								li ScreenShot 2 : 
									a(href="/assets/img/homepage/screenshot2.jpeg") Click here
								li ScreenShot 3 :  
									a(href="/assets/img/homepage/screenshot3.jpeg") Click here
								li Picture 1 :  
									a(href="/assets/img/homepage/context1.jpg") Click here
								li Picture 2 :  
									a(href="/assets/img/homepage/context2.jpg") Click here
					