extends ../layout3

block content
	.container(style="margin-bottom: 50px;margin-top:50px;")
		.our-team.text-center.row
			.col-xs-12
				header.team-info.section-header
					h2
						| #{__("teamTitle")}
						strong.border-none  #{__("teamTitle2")}
				.row
					.col-xs-12.col-sm-3.anim-section
						.thumbnail
							figure
								img(src='/assets/img/team/team1.jpeg', alt='')
							.caption
								h3 Gaetan Van Ooteghem
								p (CEO)
								ul.social-icons
									li
										a(href='#')
											i.fa.fa-facebook
									li
										a(href='#')
											i.fa.fa-twitter
									li
										a(href='#')
											i.fa.fa-pinterest
									li
										a(href='#')
											i.fa.fa-google-plus
									li
										a(href='#')
											i.fa.fa-instagram
					.col-xs-12.col-sm-3.anim-section
						.thumbnail
							figure
								img(src='/assets/img/team/team2.jpeg', alt='')
							.caption
								h3 Joao Pinto
								p (CTO)
								ul.social-icons
									li
										a(href='#')
											i.fa.fa-facebook
									li
										a(href='#')
											i.fa.fa-twitter
									li
										a(href='#')
											i.fa.fa-pinterest
									li
										a(href='#')
											i.fa.fa-google-plus
									li
										a(href='#')
											i.fa.fa-instagram
					.col-xs-12.col-sm-3.anim-section
						.thumbnail
							figure
								img(src='/assets/img/team/team3.jpeg', alt='')
							.caption
								h3 Nicolas Finet
								p (Advisor)
								ul.social-icons
									li
										a(href='#')
											i.fa.fa-facebook
									li
										a(href='#')
											i.fa.fa-twitter
									li
										a(href='#')
											i.fa.fa-pinterest
									li
										a(href='#')
											i.fa.fa-google-plus
									li
										a(href='#')
											i.fa.fa-instagram
					.col-xs-12.col-sm-3.anim-section
						.thumbnail
							figure
								img(src='/assets/img/team/team4.jpeg', alt='')
							.caption
								h3 Pépite
								p (Mascotte)
								ul.social-icons
									li
										a(href='#')
											i.fa.fa-facebook
									li
										a(href='#')
											i.fa.fa-twitter
									li
										a(href='#')
											i.fa.fa-pinterest
									li
										a(href='#')
											i.fa.fa-google-plus
									li
										a(href='#')
											i.fa.fa-instagram

