script(src='/dist/jquery/dist/jquery.min.js')
script(src='/js/displayBox.js')

link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
link(href='/css/displayBox.css')

style.

	.videoWrapper {
		position: relative;
		padding-bottom: 51%;
		padding-top: 25px;
		height: 0;
		}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	a:hover{
		text-decoration: none;
	}
	.left{
		width:80%;
	}
	body{
		background:transparent;
		background-color:transparent;
	}

	.rewew .form-control{
		width:100%;
		border-radius: 0;
		height: 50px;
		text-align:center;
		margin-bottom: 5px;
	}

	.rewew p{
		margin: auto;
		text-align:center;
		font-size: 0.8em;
	}

	#btnGetEmail{
		background-color: #EC5D57;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		border: 0;
	}

	#btnGetEmail:hover{

		background-color: #5BA3B7;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.infoText{
		color:white;
	}

	a#jc_knowmore2 {
		background-color: #EC5D57;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:1px solid #ffffff;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-size: 1.2em;
		padding: 15px 29px;
		text-decoration:none;
		font-weight: 300;
		margin-top: -2px;
		margin-top: -5px;
		margin-bottom: 7px;
	}

	a#jc_knowmore2:hover{
		background-color: #5BA3B7;
	}

	.jc_score{
		font-size: 2.6em;
		font-weight: 600;
		text-align: right;
		float:right;
	}


	div.social-wrap button {
	padding-right: 45px;
	height: 35px;
	background: none;
	border: none;
	display: block;
	background-size: 35px 35px;
	background-position: right center;
	background-repeat: no-repeat;
	color: white;
	font-family:"Merriweather Sans", sans-serif;
	font-size: 14px;
	margin-bottom: 15px;
	width: 205px;
	text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
	}
	button#facebook {
	border-color: #2d5073;
	background-color: #3b5998;
	background-image: url(http://img.clubic.com/07209002-photo-logo-facebook-messenger-sur-windows-phone.jpg);
	}
	div.social-wrap.c button {
	padding-left: 35px;
	padding-right: 0px;
	height: 35px;
	background: none;
	border: none;
	display: block;
	background-size: 25px 25px, cover;
	background-position: 10px center, center center;
	background-repeat: no-repeat, repeat;
	color: white;
	font-family:"Merriweather Sans", sans-serif;
	font-size: 14px;
	margin-bottom: 15px;
	width: 100%;


	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: 0;

	text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
	}
	div.social-wrap.c {
	}

	div.social-wrap.c > .twitter {
		background-image: url(http://dl.dropbox.com/u/109135764/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));;
		height: 50px;
	}

	div.social-wrap.c > .twitter:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}

	div.social-wrap.c > .website:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
	div.social-wrap.c > .website {
		background-color: #ec5d00;
		height: 50px;
		padding-left: 0;
		text-decoration: none;
	}

	div.social-wrap.c > .facebook {
		background: url(http://dl.dropbox.com/u/109135764/facebookf.png), #3b5998;
		background-size: 25px 25px, cover;
		background-position: 10px center, center center;
		background-repeat: no-repeat, repeat;

		height: 50px;
	}

	div.social-wrap.c > .facebook:hover {
		background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74d4), color-stop(100%, #3b5998));
		background-size: 25px 25px, cover;
		background-position: 10px center, center center;
		background-repeat: no-repeat, repeat;

		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}

	div.social-wrap.c button em {
		font-size: 18px;
		letter-spacing: 1px;
		font-family:"Times New Roman";
		margin-right: 4px;
		margin-left: 4px;
	}


#fb-root
script.
	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1706550902959630";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

script.
	window.twttr = (function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0],
	t = window.twttr || {};
	if (d.getElementById(id)) return t;
	js = d.createElement(s);
	js.id = id;
	js.src = "https://platform.twitter.com/widgets.js";
	fjs.parentNode.insertBefore(js, fjs);
	t._e = [];
	t.ready = function(f) {
	t._e.push(f);
	};
	return t;
	}(document, "script", "twitter-wjs"));

script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')



//- if box.type == 'partggle'
//- 	.stuff(style="margin-top:50px;")
//- 		.col-xs-6
//- 			center
//- 				ins.adsbygoogle(style='display:inline-block;width:300px;height:250px;float:right', data-ad-client='ca-pub-7895172491439567', data-ad-slot='9348985736')
//- 			script.
//- 				(adsbygoogle = window.adsbygoogle || []).push({});
//- 		.col-xs-6
//- 			center
//- 				ins.adsbygoogle(style='display:inline-block;width:300px;height:250px;float:left', data-ad-client='ca-pub-7895172491439567', data-ad-slot='8430655739')
//- 			script.
//- 				(adsbygoogle = window.adsbygoogle || []).push({});
				



div
	center
		a(id='jc_knowmore', href="http://pikachu.com", target='_blank')
			img.charlies(src='https://files.slack.com/files-pri/T0L0MKV7V-F1DS41JUB/pub.jpg', style='width:610px;height:250px', alt='')


//- .stuff(style="margin-top:20px;")
//- 	.col-xs-12
//- 		center
//- 			ins.adsbygoogle(style='display:inline-block;width:300px;height:250px;', data-ad-client='ca-pub-7895172491439567', data-ad-slot='9348985736')
//- 		script.
//- 			(adsbygoogle = window.adsbygoogle || []).push({});
//- 	.col-xs-12(style="margin-top: 20px;")
//- 		center
//- 			ins.adsbygoogle(style='display:inline-block;width:300px;height:250px;', data-ad-client='ca-pub-7895172491439567', data-ad-slot='8430655739')
//- 		script.
//- 			(adsbygoogle = window.adsbygoogle || []).push({});
				





script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
	// square01
//- script.
//- 	(adsbygoogle = window.adsbygoogle || []).push({});
//- 	(adsbygoogle = window.adsbygoogle || []).push({});

script.
	(function($) {
		var __h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
		$('.charlies').attr('src', 'pikachu.jpg')
		console.log('ready');
	});

